# macOS
.DS_Store

# Xcode/Swift Package Manager 
.build/
.swiftpm/
DerivedData/
xcuserdata/
UserInterfaceState.xcuserstate
*.xcodeproj
Packages/

# Other
/out/
/Sandbox/
/gh-pages/
imgui.ini

Package.resolved
